*.hi
*.o
.cabal-sandbox/
.ghc.environment.*
.hdevtools.*
.stack-work/
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist-newstyle/
dist/
prompt-history
stack.yaml.lock
xmonad-*-*
xmonad.errors
